apiVersion: v1
data:
  Alpha.secret: ewogICJub2RlX2lkIjogIkFscGhhIiwKICAicHVibGljIjogIkdRWUxaaDgxbUI6WVM3LmZBZEIxcnJ6PC5jfUZ4YzA3JVp9YSsvaTMiLAogICJwcml2YXRlIjogInZHQlEwL0ZiTTRHQ2dmZT8wKEZeRTd3bEFPPDo0I0k9UT1xLS1jNlQiCn0=
  Bravo.secret: ewogICJub2RlX2lkIjogIkJyYXZvIiwKICAicHVibGljIjogIi4oOi5GajAvdTBIOShQWy1HS1dDa0ZAJjFMNndaak02I099MD1LNnEiLAogICJwcml2YXRlIjogIjxtOCNWIUx1Q3k1dC1iWU8tLyZ9MGJ5TjxzamtdYkoqZD5SYm5bcFciCn0=
  Charlie.secret: ewogICJub2RlX2lkIjogIkNoYXJsaWUiLAogICJwdWJsaWMiOiAieChUPUBqPEwmI3hsNmppS1JLUm1BcDNxTktTZj95SFReWGQ/RHdSeyIsCiAgInByaXZhdGUiOiAiQlt9UUVLS3MyUGxrdUBTUElVOn03MytaMS5YcVstPGwwJmJYd3s6ayIKfQ==
  mission_trust.json: ewogICJBbHBoYSI6ICJHUVlMWmg4MW1COllTNy5mQWRCMXJyejwuY31GeGMwNyVafWErL2kzIiwKICAiQnJhdm8iOiAiLig6LkZqMC91MEg5KFBbLUdLV0NrRkAmMUw2d1pqTTYjT30wPUs2cSIsCiAgIkNoYXJsaWUiOiAieChUPUBqPEwmI3hsNmppS1JLUm1BcDNxTktTZj95SFReWGQ/RHdSeyIKfQ==
kind: Secret
metadata:
  creationTimestamp: null
  name: tactical-keys
